@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6a5be2;
  overflow: auto;
}

.App {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  margin: 10px;
  width: 600px;
  min-height: 600px;
  border-radius: 30px;
  background-color: #fff;

  @media (max-width: 620px) {
    width: auto;
  }

  .begin,
  .result {
    text-align: center;

    h1,
    h2 {
      margin-bottom: 20px;
    }

    img {
      width: 170px;
      margin-bottom: 20px;
    }

    @keyframes pulse {
      to {
        transform: scale(0.95);
      }
    }

    button {
      display: inline-block;

      &:hover {
        animation-name: pulse;
        animation-duration: 0.3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
  }

  .step {
    width: 100%;

    &__row-btn {
      text-align: center;
    }

    .progress {
      height: 10px;
      border-radius: 30px;
      background-color: rgb(232, 232, 232);
      margin-bottom: 25px;

      &__inner {
        height: 100%;
        border-radius: 30px;
        width: 80%;
        background: rgb(18, 231, 48);
        transition: all 0.3s ease-in-out;
        background: linear-gradient(90deg, rgba(18, 231, 48, 1) 0%, rgba(0, 212, 255, 1) 100%);
      }
    }

    h2 {
      margin: 0;
      min-height: 130px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        margin-bottom: 10px;
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &:hover {
          border: 2px solid rgba(0, 0, 0, 0.3);
        }

        &.correct {
          border: 2px solid green;
          color: green;
          span {
            font-style: italic;
            margin-left: 150px;
            color: #014e01;
          }
        }

        &.error {
          border: 2px solid darken(#ff006e, 3%);
          color: darken(#ff006e, 3%);
          span {
            font-style: italic;
            color: darken(#ff006e, 10%);
          }
        }
      }
    }

    button {
      position: relative;
      min-width: 160px;
      transition: all 0.2s linear 0s;

      &:before {
        content: "\2192";
        font-size: 20px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 20px;
        top: 0;
        opacity: 0;
        height: 100%;
        width: 40px;
        transition: all 0.2s linear 0s;
      }

      &:hover {
        text-indent: -20px;

        &:before {
          opacity: 1;
          text-indent: 0px;
        }
      }
    }
  }

  &:before,
  &:after {
    content: "";
    display: block;
    height: 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &:before {
    width: 95%;
    bottom: -10px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 0;
  }

  &:after {
    width: 90%;
    bottom: -20px;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
    @media (max-width: 600px) {
      font-size: 26px;
    }
  }

  button {
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    border-radius: 30px;
    border: 0;
    padding: 15px 30px;
    font-size: 20px;
    background-color: darken(#ff006e, 3%);
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
  }
}
